$transition-speed: .25s;

header {
    * { padding: 0; margin: 0; }
    padding: 10px 30px;
    padding-bottom: 50px;
    color: white;
    
    a {
        text-decoration: none;
        color: white;
    }

    .content {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;

        .brand {
            font-size: 1.3em;
            display: inline-block;

            small {
                position: relative;
                top: -10px; left: 3px;
                color: var(--theme-color);
            }
        }
        nav {
            display: flex;
            align-items: center;
            font-size: 1.5em;
            span {
                padding: 10px;
                a {
                    transition: .25s;

                    position: relative;
                    &:before, &:after {
                        content: '';
                        position: absolute;
                        height: 1px; width: 0%;
                        background: var(--theme-color);
                        transition: .25s;
                    }
                    &:before { top: 0; left: 0; }
                    &:after { bottom: 0; right: 0; }

                    &:hover {
                        &:before, &:after {
                            width: 100%;
                        }
                    }
                    
                    &.active {
                        color: var(--theme-color);

                        &:before, &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .hamburger-container {
            display: none;

            .hamburger {
                position: relative;
                margin-top: 10px;
                &, &:before, &:after {
                    width: 30px;
                    height: 4px;
                    border-radius: 4px;
                    background: white;
                }
                &:before, &:after {
                    content: '';
                    position: absolute;
                    transition: .25s;
                }
                &:before { top: -8px; }
                &:after { bottom: -8px; }

                transition: .5s;
                &.close {
                    background: #0000;
                    &:after { transform: rotate(0deg); top: 0; }
                    &:before { transform: rotate(-90deg); top: 0; }
                    transform: rotate(320deg);
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    header {
        padding-bottom: 0px;
        .content { 
            flex-direction: column;
            margin-bottom: -20px;
            .brand {
                align-self: flex-start;
            }

            .hamburger-container {
                display: inline-block;
                align-self: flex-end;
                margin-bottom: 30px;
                cursor: pointer;
                padding-bottom: 10px;
                position: relative;
                top: -60px;
                z-index: 100;
            }

            nav {
                flex-direction: column;
                background: linear-gradient(to right, #000c, #000e);
                position: fixed;
                top: 0; bottom: 0; right: 0;
                z-index: 99;
                padding: 30px;
                padding-top: 80px;
                padding-left: 40px;
                right: -200px;

                &.open {
                    animation: drag-in .5s forwards;
                    @keyframes drag-in {
                        from { right: -200px; }
                        to { right: 0; }
                    }
                }
                &.closed {
                    right: -200px;

                    animation: drag-out .5s;
                    @keyframes drag-out {
                        from { right: 0; }
                        to { right: -200px; }
                    }
                }
            }
        }
    }
}