@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    --theme-color: coral;
    font-family: Roboto;

    margin: 0;
    padding: 0;
    
    background: url(https://images.unsplash.com/photo-1485579149621-3123dd979885);
    background-size: cover;
    background-attachment: fixed;

    color: white;
}