.table-container {
    border-spacing: 0;
    width: 100%;
    margin-bottom: 60px;

    thead {
        text-align: left;
        tr {
            cursor: pointer;
            th {
                position: relative;
                color: var(--theme-color);

                &:after {
                    content: '';
                    position: absolute;
                    right: 0; bottom: 0; top: 0;
                    height: 10px;
                    border: 5px solid transparent;
                }
                &:hover {
                    &:after {
                        border-top-color: #fff7;
                        top: 20px;
                    }
                    &.down:after {
                        border-top-color: white;
                        top: 20px;
                    }
                    &.up:after {
                        border-bottom-color: white;
                        border-top-color: transparent;
                        top: 0px;
                    }
                }
            }
        }
    }
    tbody {
        overflow: scroll;
        height: 200px;
        tr:hover {
            background: #fff2;
        }
    }
    td, th {
        border-bottom: 1px solid #fff6;
        padding: 10px 20px;
    }
}